/*
  DIAGNOSTIC STYLING
*/
body {
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1, h3 {
  color: goldenrod;
  text-align: center;
}

/* Your Awesome Scripts */